        <footer class="footer">
            <div>
             <p> This License Agreement (this “Agreement” of this “License Agreement”)<br>
                is made and effective as of [Commencement date] (the “Commencement Date”)<br>
                 by and between [Sender.Company], a company organized and existing in [Sender<br>
                 .Country], with a registered address at [Sender.Address] (“Licensor”) and<br>
                  [Client.Company]</p></div>
              <div class="iconos">
                <a href="https://www.facebook.com/raymondssj44" target="_blank" class="redes"><img id="fb"src="facebook.png" width="80px"></a>
                <a href="https://www.instagram.com/raymondacampo/" target="_blank" class="redes"><img id="ig"src="instagram.png" width="80px"></a>
                <a href="https://twitter.com/aurelio_raymond" target="_blank" class="redes"><img id ="tw"src="twitter.png" width="80px"></a>
                <a href="https://www.youtube.com/channel/UCQTJNuLbfYQSLonO1UVeDfA" target="_blank" class="redes"><img id ="yt"src="youtube.png" width="80px"></a>
                <a href="#"><img src="flecha.png" width="50px"></a>
              </div>
            </footer>