 <div class="vainanegra" >
        <div class="baja">
            <ul class="navegacion" >
                <li><img src="Karibeñologo.png" class="logo1"></li>
                <li><a href="/" >HOME</li></a>
                <li><a href="/images">IMAGES</a></li>
                <li><a href="#" class="active">CONTACT</a>
                    <ul>
                        <li><a href="/formulario">Formulario</a></li>
                    </ul>
                </li>
        </div>
    </div>