<h2 class="abt" id="abutus">About us</h2>

    <br><br><br><br>
    
        
        <div class="Mision">
            <ul class="tablaabt">
                <li class="mision"><img src="mision.png" width="120px" height="100px"></li>
                <li class="vision"><img src="vision.png" width="120px" height="100px"></li>
                <li class="valor"><img src="valores.png" width="120px" height="100px"></li>
            </ul>
            <ul class="tablamvv">

                <li class="mision2">
                    <a>Mision: ser la compañía exportadora de<br>
                    bebidas numero uno en puntos turisticos<br> del pais</a>
                </li>

                <li>
                    <a>Visión: empresa líder de bebidas en el país<br>
                    en cuanto a lugares turísticos se refiere</a>
                </li>

                <li>
                    <a>Valores: Honestidad, Calidad,<br>
                    responsabilidad,sustentabilidad<br> e impacto social</a>
                </li>

            </ul>   