<p class="contacto" >CONTACTOS</p>
            <hr>
            <p class="numero">Numero de telefono:<u><b>(+1)829-662-2197</b></u> </p>
            <br>
            
            <p class="correo">Si desea comunicarse por correo presione este boton</p>
        <ul class="contactol">
            <li class="env"><a href="mailto:raymondacamposandoval@gmail.com">Enviar correo:</a></li>
        </ul>
        <br>
        <br>
        <h1 class="mapah" >Mapa</h1>
        
        <br>
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15138.00975992
            7354!2d-69.99199662899393!3d18.460886952673416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4
            f13.1!3m3!1m2!1s0x8ea561dc5e6b6681%3A0xedccb78dc856367c!2sHerrera!5e0!3m2!1sen!2s
            do!4v1622059916722!5m2!1sen!2sdo"  width="400" height="300" style="border:0;" allo
            wfullscreen="" loading="lazy"  ></iframe>
        </div>