<div class="slides" >
            <ul>
                <li><img src="fotorest.jpg"></li>
                <li><img src="fotorest2.jpg"></li>
                <li><img src="G-BARRAS-01.jpg"></li>
            </ul>
            <div class="centered">Karibeño</div>
        </div>
    
    <img src="FADE.jpg" class="fade">

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <h1 class="textoahi">La empresa de exportacion y
         ventas de bebidas alcoholicas<br>
       <u> numero uno en cuanto a calidad precio y servicio.</u>
    </h1>
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br id="abtid"><br><br>

    <h2 class="abt" id="abutus">About us</h2>

    <br><br><br><br>
    
        
        <div class="Mision">
            <ul class="tablaabt">
                <li class="mision"><img src="mision.png" width="120px" height="100px"></li>
                <li class="vision"><img src="vision.png" width="120px" height="100px"></li>
                <li class="valor"><img src="valores.png" width="120px" height="100px"></li>
            </ul>
            <ul class="tablamvv">

                <li class="mision2">
                    <a>Mision: ser la compañía exportadora de<br>
                    bebidas numero uno en puntos turisticos<br> del pais</a>
                </li>

                <li>
                    <a>Visión: empresa líder de bebidas en el país<br>
                    en cuanto a lugares turísticos se refiere</a>
                </li>

                <li>
                    <a>Valores: Honestidad, Calidad,<br>
                    responsabilidad,sustentabilidad<br> e impacto social</a>
                </li>

            </ul>   

        </div> 
        <div class="fade2" id="prds"></div>
        

        <div class="productos" >

            <h2 class="productotxt">Producto</h2>

            <ul class="tablaprds">
                <li class="coctel1"><img src="coctel1.png" height="225px" ></li>
                <li class="coctel2"><img src="coctel2.png" height="225px" ></li>
                <li class="coctel3"><img src="coctel3.png" height="225px" ></li>
            </ul>
            <ul class="tablaprd">

                <li class="coc1">
                    <a>Esta bebida hecha a<br> 
                        base del delicioso<br> 
                        sabor de coco esta<br> 
                        hecho con coco<br><br>
                        <a href="https://www.google.com/" class="botoncito">Comprar</a></a>
                </li>

                <li class="coc2">
                    <a>Esta bebida hecha a<br>
                        base del delicioso<br>
                         sabor de palos esta<br>
                          hecho con palos<br><br>
   
                          <a href="https://www.google.com/" class="botoncito">Comprar</a></a>
                </li>

                <li class="coc3">
                    <a>Esta bebida hecha a<br>
                        base del delicioso<br>
                        sabor de chinola esta<br>
                        hecho con chinola<br><br>
    
                        <a href="https://www.google.com/" class="botoncito">Comprar</a></a>
                </li>
            </ul> 
        </div>
        <div class="fade3"></div>
        <br><br><br><br><br><br><br><br id="contactoid"><br><br><br>

        <p class="contacto" >CONTACTOS</p>
            <hr>
            <p class="numero">Numero de telefono:<u><b>(+1)829-662-2197</b></u> </p>
            <br>
            
            <p class="correo">Si desea comunicarse por correo presione este boton</p>
        <ul class="contactol">
            <li class="env"><a href="mailto:raymondacamposandoval@gmail.com">Enviar correo:</a></li>
        </ul>
        <br>
        <br>
        <h1 class="mapah" >Mapa</h1>
        
        <br>
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15138.00975992
            7354!2d-69.99199662899393!3d18.460886952673416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4
            f13.1!3m3!1m2!1s0x8ea561dc5e6b6681%3A0xedccb78dc856367c!2sHerrera!5e0!3m2!1sen!2s
            do!4v1622059916722!5m2!1sen!2sdo"  width="400" height="300" style="border:0;" allo
            wfullscreen="" loading="lazy"  ></iframe>
        </div>
        <br><br><br><br><br><br>
        <hr>
        
        <div class="final" >
            
                <img src="pelicula-goku-vs-esqueleto.gif"></li>
                <br>
                <Audio controls>
                <source src="Caribbean cinemas policy trailer (2014).mp3" type="audio/mp3">
            </Audio>
        </div>
        