<div class="galeria">
    <div class="foto">
        <div class="contenedor-modal">
            <img src="galeria1.jpg" alt="" />
            <div class="overlay">
            </div>
        </div>
    </div>

    <div class="foto">
        <div class="contenedor-modal">
            <img src="galeria2.jpg" alt="" />
            <div class="overlay">
            </div>
        </div>
    </div>
    <div class="foto">
        <div class="contenedor-modal">
            <img src="galeria3.jpg" alt="" />
            <div class="overlay">
            </div>
        </div>
    </div>
    <div class="foto">
        <div class="contenedor-modal">
            <img src="galeria4.jpg" alt="" />
            <div class="overlay">
            </div>
        </div>
    </div>
    <div class="foto">
        <div class="contenedor-modal">
            <img src="galeria5.jpg" alt="" />
            <div class="overlay">
            </div>
        </div>
    </div>
    <div class="foto">
        <div class="contenedor-modal">
            <img src="galeria6.jpg" alt="" />
            <div class="overlay">
            </div>
        </div>
    </div>
    <div class="foto">
        <div class="contenedor-modal">
            <img src="galeria7.jpg" alt="" />
            <div class="overlay">
            </div>
        </div>
    </div>
    <div class="foto">
        <div class="contenedor-modal">
            <img src="galeria8.jpg" alt="" />
            <div class="overlay">
            </div>
        </div>
    </div>
    <div class="foto">
        <div class="contenedor-modal">
            <img src="galeria9.jpg" alt="" />
            <div class="overlay">
            </div>
        </div>
    </div>
    <div class="foto">
        <div class="contenedor-modal">
            <img src="galeria10.jpg" alt="" />
            <div class="overlay">
            </div>
        </div>
    </div>
    <div class="foto">
        <div class="contenedor-modal">
            <img src="galeria11.jpg" alt="" />
            <div class="overlay">
            </div>
        </div>
    </div>
    <div class="foto">
        <div class="contenedor-modal">
            <img src="galeria12.jpg" alt="" />
            <div class="overlay">
            </div>
        </div>
    </div>
</div>