<h2 class="productotxt">Producto</h2>

            <ul class="tablaprds">
                <li class="coctel1"><img src="coctel1.png" height="225px" ></li>
                <li class="coctel2"><img src="coctel2.png" height="225px" ></li>
                <li class="coctel3"><img src="coctel3.png" height="225px" ></li>
            </ul>
            <ul class="tablaprd">

                <li class="coc1">
                    <a>Esta bebida hecha a<br> 
                        base del delicioso<br> 
                        sabor de coco esta<br> 
                        hecho con coco<br><br>
                        <a href="https://www.google.com/" class="botoncito">Comprar</a></a>
                </li>

                <li class="coc2">
                    <a>Esta bebida hecha a<br>
                        base del delicioso<br>
                         sabor de palos esta<br>
                          hecho con palos<br><br>
   
                          <a href="https://www.google.com/" class="botoncito">Comprar</a></a>
                </li>

                <li class="coc3">
                    <a>Esta bebida hecha a<br>
                        base del delicioso<br>
                        sabor de chinola esta<br>
                        hecho con chinola<br><br>
    
                        <a href="https://www.google.com/" class="botoncito">Comprar</a></a>
                </li>
            </ul> 
        </div>